In [30]:
import pandas as pd

In [41]:
data = {
        '1':[20, 30, 40, 50],
        '2': [30,40,50,60],
       'Scenario' : ["S1","S2","S3","S4"]  }




dataMaster = {
        '1':[100, 100, 100, 100],
        '2': [100,100,100,100],
         'Scenario' : ["S1","S2","S3","S4"]    }


df = pd.DataFrame(data)
dfMaster = pd.DataFrame(dataMaster)

index_list = ["Total"] * 4
df.index = index_list
dfMaster.index = index_list

In [37]:
dfMaster

         1    2 Scenario
Total  200  300       S1
Total  300  400       S2
Total  400  500       S3
Total  500  600       S4

In [44]:
df

        1   2 Scenario
Total  20  30       S1
Total  30  40       S2
Total  40  50       S3
Total  50  60       S4

In [42]:
df_ratio = dfMaster.copy(deep=True)
for i in range(2):
    df_ratio[[str(i+1)]] = df[[str(i+1)]].div(dfMaster[[str(i+1)]],axis=1)

In [43]:
df_ratio

         1    2 Scenario
Total  0.2  0.3       S1
Total  0.3  0.4       S2
Total  0.4  0.5       S3
Total  0.5  0.6       S4